In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import json

## Importamos los archivos y vemos su composicion

In [2]:
ruta_al_archivo = 'Yelp/checkin.json'
checkin = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')

In [3]:
checkin.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [4]:
checkin['date'][1]

'2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011-07-18 22:30:31, 2012-09-07 20:28:50, 2013-03-27 15:57:36, 2013-08-13 00:31:34, 2013-08-13 00:31:48, 2013-09-23 17:39:38, 2013-11-18 06:34:08, 2014-04-12 23:04:47'

In [5]:
checkin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB

In [6]:
ruta_al_archivo = 'Yelp/tip.json'
tip = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')

In [7]:
tip.head()

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

In [8]:
tip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908915 entries, 0 to 908914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908915 non-null  object
 1   business_id       908915 non-null  object
 2   text              908915 non-null  object
 3   date              908915 non-null  datetime64[ns]
 4   compliment_count  908915 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 34.7+ MB

### Son reviews mas cortas del usuario user_id hacia un local business_id

In [9]:
conteo_valores_unicos = tip['compliment_count'].value_counts()

# Muestra el conteo de valores únicos
print(conteo_valores_unicos)

compliment_count
0    898376
1      9821
2       617
3        82
4        14
5         3
6         2
Name: count, dtype: int64

## Se abre los datos de business

In [10]:
ruta_al_archivo_pkl = 'Yelp/business.pkl'

# Utiliza pandas para leer el archivo .pkl
business = pd.read_pickle(ruta_al_archivo_pkl)

In [11]:
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
business.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150346 entries, 0 to 150345
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
 14  business_id   5 non-null       object
 15  name          5 non-null       object
 16  address       5 non-null       object
 17  city          5 non-null       object
 18  state         5 non-null       object
 19  postal_code   5 non-null       object
 20  latitude      5 non-null       object
 21  longitude     5 non-null       object
 22  stars         5 non-null       object
 23  review_count  5 non-null       object
 24  is_open       5 non-null       object
 25  attributes    5 non-null       object
 26  categories    5 non-null       object
 27  hours         5 non-null       object
dtypes: object(28)
memory usage: 33.3+ MB

In [13]:
# Selecciona las primeras 13 columnas del DataFrame 'business'
business_subset = business.iloc[:, :14]

In [14]:
estados_interes  = ['PA', 'HI', 'NY', 'WA', 'FL', 'UT', 'CA', 'TX']

In [15]:
business_subset['categories'][2]

'Department Stores, Shopping, Fashion, Home & Garden, Electronics, Furniture Stores'

## se seleccionan los estados de interes y de la categoria gastronomica

In [16]:
# Definir palabras clave asociadas al rubro gastronómico
palabras_clave_gastronomico = ['restaurant', 'restaurants', 'food', 'cafe', 'bar', 'bars', 'bakery', 'fast food', 'tacos', 'salad', 'bistro', 'diner', 'grill', 'eatery', 'pub', 'tavern', 'pizzeria', 'deli', 'snack bar', 'food truck', 'pizza', 'chicken', 'sushi', 'steakhouse', 'seafood', 'ramen', 'noodle bar', 'buffet', 'tapas', 'food court', 'burger joint', 'ice cream shop', 'coffee shop', 'juice bar', 'bagel shop', 'sandwich shop', 'creperie', 'hot dog stand', 'vegetarian', 'vegan', 'bbq', 'barbecue', 'ethnic restaurant', 'fine dining', 'casual dining', 'family restaurant', 'gastropub', 'brewpub', 'teahouse', 'dive bar', 'sports bar', 'wine bar', 'brewery', 'distillery', 'wine tasting room', 'brewpub', 'taproom', 'bottle shop', 'cocktail bar', 'karaoke bar', 'izakaya', 'fondue', 'hot pot', 'hamburger', 'dim sum restaurant', 'fusion restaurant', 'hot dog', 'noodle shop', 'ramen', 'steak house', 'taco stand', 'taco restaurant']

# Convertir las cadenas de texto a listas si es necesario
business_subset['categories'] = business_subset['categories'].apply(lambda x: x.split(', ') if isinstance(x, str) else x)

# Convertir las listas de categorías a strings separados por comas
business_subset['categories'] = business_subset['categories'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

# Filtrar los valores nulos en el campo 'categories'
business_subset = business_subset.dropna(subset=['categories'])

# Filtrar el DataFrame para obtener solo las filas con categorías gastronómicas
locales_gastronomicos = business_subset[business_subset['categories'].apply(lambda x: any(keyword in x.lower() for keyword in palabras_clave_gastronomico))]

C:\TEMP\ipykernel_3140\699611887.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  business_subset['categories'] = business_subset['categories'].apply(lambda x: x.split(', ') if isinstance(x, str) else x)
C:\TEMP\ipykernel_3140\699611887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  business_subset['categories'] = business_subset['categories'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

In [17]:
locales_gastronomicos_estados = locales_gastronomicos[locales_gastronomicos['state'].isin(estados_interes)]

In [18]:
business_subset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150243 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150243 non-null  object
 1   name          150243 non-null  object
 2   address       150243 non-null  object
 3   city          150243 non-null  object
 4   state         150240 non-null  object
 5   postal_code   150243 non-null  object
 6   latitude      150243 non-null  object
 7   longitude     150243 non-null  object
 8   stars         150243 non-null  object
 9   review_count  150243 non-null  object
 10  is_open       150243 non-null  object
 11  attributes    136601 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: object(14)
memory usage: 17.2+ MB

In [19]:
locales_gastronomicos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70378 entries, 3 to 150340
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   70378 non-null  object
 1   name          70378 non-null  object
 2   address       70378 non-null  object
 3   city          70378 non-null  object
 4   state         70378 non-null  object
 5   postal_code   70378 non-null  object
 6   latitude      70378 non-null  object
 7   longitude     70378 non-null  object
 8   stars         70378 non-null  object
 9   review_count  70378 non-null  object
 10  is_open       70378 non-null  object
 11  attributes    68784 non-null  object
 12  categories    70378 non-null  object
 13  hours         59894 non-null  object
dtypes: object(14)
memory usage: 8.1+ MB

In [20]:
locales_gastronomicos_estados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30633 entries, 3 to 150339
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   30633 non-null  object
 1   name          30633 non-null  object
 2   address       30633 non-null  object
 3   city          30633 non-null  object
 4   state         30633 non-null  object
 5   postal_code   30633 non-null  object
 6   latitude      30633 non-null  object
 7   longitude     30633 non-null  object
 8   stars         30633 non-null  object
 9   review_count  30633 non-null  object
 10  is_open       30633 non-null  object
 11  attributes    29901 non-null  object
 12  categories    30633 non-null  object
 13  hours         26058 non-null  object
dtypes: object(14)
memory usage: 3.5+ MB

Se puede observar como disminuyen los datos

In [26]:
# Contar el número de filas por estado
conteo_por_estado = locales_gastronomicos_estados['state'].value_counts()

# Mostrar el conteo por estado
print("Número de locales por estado:")
print(conteo_por_estado)

Número de locales por estado:
state
PA    15875
FL    12316
CA     2438
TX        2
WA        1
HI        1
Name: count, dtype: int64

In [22]:
'PA', 'HI', 'NY', 'WA', 'FL', 'UT', 'CA', 'TX'

('PA', 'HI', 'NY', 'WA', 'FL', 'UT', 'CA', 'TX')

In [23]:
valores_distintos = business_subset['state'].unique()

In [24]:
valores_distintos

array([nan, 'CA', 'MO', 'AZ', 'PA', 'TN', 'FL', 'IN', 'LA', 'AB', 'NV',
       'ID', 'DE', 'IL', 'NJ', 'NC', 'CO', 'WA', 'HI', 'UT', 'TX', 'MT',
       'MI', 'SD', 'XMS', 'MA', 'VI', 'VT'], dtype=object)

Se observa que no hay presencia de ny en yelp